.footerContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footerContainer__link {
  margin: 0px 5px;
  color: #222222;
}
